{% extends 'core/base.html' %}

{% block title %}
    FAQ
{% endblock %}

{% block content %}
    <div class="mb-10">
        <h1 class="text-4xl font-semibold mb-4">Frequently Asked Questions</h1>

        <div class="space-y-6">
            <div>
                <h2 class="text-2xl font-semibold mb-2">Question 1: What is NestFixer?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div>
                <h2 class="text-2xl font-semibold mb-2">Question 2: How can I add a new post?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div>
                <h2 class="text-2xl font-semibold mb-2">Question 3: Is there a dashboard for registered users?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <!-- Add more questions and answers as needed -->

        </div>
    </div>
{% endblock %}
