{% extends 'core/base.html' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="mb-10 text-gray-900 dark:text-gray-400">
        <h1 class="text-4xl font-semibold mb-4 text-gray-900 dark:text-white">Contact</h1>
        <title>Contact Support</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }
            .contact-info {
                margin-bottom: 30px; /* Increased margin for better separation */
            }
            .contact-info p {
                margin-bottom: 10px; /* Increased margin between paragraphs */
            }
        </style>
    </head>
    <body>
    
        <h1>You can contact us through:</h1>
    
        <div class="contact-info">
            
            
            <p><strong>Toll Free Number:</strong><br>
            16600199000 (10am to 5pm, working days)</p>
    
            <p><strong>Phone:</strong><br>
            977-1-5135033, 5135034, 5135009 (10am to 5pm, working days)</p>
    
            <p><strong>Email:</strong><br>
            <a href="mailto:support@hamrobazar.com">support@nestfixer.com</a></p>
        </div>

    </div>
{% endblock %}
