{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="bg-white">
        <div class="container my-24 mx-auto md:px-6 xl:px-32">
          <section class="mb-32">
            <div
              class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
              <div class="flex flex-wrap items-center bg-white">
                <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
                  <img src="media\static\images\bichtirakonestfixer.png"
                    class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
                </div>
                <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12 bg-white">
                  <div class="px-6 py-12 md:px-12">
                    <h2 class="mb-6 pb-2 text-4xl font-bold">NESTFIXER</h2>
                    <p class="mb-6 pb-2 text-gray-900 dark:text-gray-900 font-medium font-sans">
                      Bringing unparalleled convenience right to your doorstep – our platform is your gateway to a world of 
                      services designed to elevate your lifestyle. Discover the ease of accessing a myriad of expert services
                       without stepping outside. From skilled professionals to essential deliveries, we are dedicated to making
                        your life simpler, one doorstep service at a time
                    </p>
                    <div class="mb-6 flex flex-wrap">
                      <div class="mb-6 w-full md:w-4/12 lg:w-6/12 xl:w-4/12">
                        <p class="flex">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                            <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>Support 24/7
                        </p>
                      </div>
                      <div class="mb-6 w-full md:w-4/12 lg:w-6/12 xl:w-4/12">
                        <p class="flex">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                            <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>Analytics
                        </p>
                      </div>
                      <div class="mb-6 w-full md:w-4/12 lg:w-6/12 xl:w-4/12">
                        <p class="flex">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                            <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>Components
                        </p>
                      </div>
                      <div class="mb-6 w-full md:w-4/12 lg:w-6/12 xl:w-4/12">
                        <p class="flex">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                            <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>Updates
                        </p>
                      </div>
                      <div class="mb-6 w-full md:w-4/12 lg:w-6/12 xl:w-4/12">
                        <p class="flex">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                            <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>Reports
                        </p>
                      </div>
                      <div class="mb-6 w-full md:w-4/12 lg:w-6/12 xl:w-4/12">
                        <p class="flex">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                            <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>Mobile
                        </p>
                      </div>
                    </div>
                    <a type="button" href="{% url 'item:items' %}"
                      class="inline-block rounded bg-blue-600 px-12 pt-3 pb-3 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-blue-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-blue-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                      data-te-ripple-init data-te-ripple-color="light">
                      Get Started
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Section: Design Block -->
        </div>
        </div>
        
          <!-- Features -->
        <div class="container my-24 mx-auto md:px-6">
          <!-- Section: Design Block -->
          <section class="mb-32 text-center">
            <div class="flex justify-center">
              <div class="max-w-[700px] text-center">
                <h2 class="mb-6 text-center text-3xl text-yellow-900 font-bold">
                  Why is it so<u class="text-sky-950 ">
                    great?</u>
                </h2>
                <p class="mb-16 text-gray-900 dark:text-gray-900">
                  Discover the incredible convenience of having top-notch services right at your doorstep! Picture this: no more
                   long waits or complicated tasks. Our platform brings skilled professionals,
                   essential deliveries, and personalized services directly to you. It's all about saving time, making life easier, and ensuring your comfort.
                </p>
              </div>
            </div>
        
            <div class="grid gap-x-6 md:grid-cols-1 lg:grid-cols-3 lg:gap-x-12 mt-6">
              <div class="mb-12 lg:mb-0">
                <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                  </svg>
                </div>
                <h5 class="mb-4 text-lg font-bold">Support 24/7</h5>
                <p class="text-gray-900 dark:text-gray-900">
                  Experience the reassurance of round-the-clock support at your fingertips! Our commitment to you goes beyond daylight hours, providing 24/7 support that's just a click or call away. 
                </p>
              </div>
        
              <div class="mb-12 lg:mb-0">
                <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                  </svg>
                </div>
                <h5 class="mb-4 text-lg font-bold">Safe and solid</h5>
                <p class="text-gray-900 dark:text-gray-900">
                  Our platform prioritizes your security and reliability, ensuring that every service and interaction is built on a foundation of safety. From vetted professionals to secure transactions, your well-being is our top concern.
                </p>
              </div>
        
              <div class="mb-12 md:mb-0">
                <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
                  </svg>
                </div>
                <h5 class="mb-4 text-lg font-bold">Extremely fast</h5>
                <p class="text-gray-900 dark:text-gray-900">
                  Welcome to the world of extremely fast solutions! Our platform is designed for those who value swift results. Experience services delivered with unparalleled speed, from express deliveries to prompt assistance. 
              </div>
            </div>
          </section>
        </div>
</body>
</html>