{% extends "core/base.html" %}

{% block title %} Reset Password {% endblock %}


{% block content %}


<section class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6 space-y-4">
        <h1 class="text-2xl font-bold leading-tight text-gray-900">
            Reset Your Password
        </h1>
        
        {% if validlink %}
            <p class="text-gray-700 mb-4">Please enter your new password</p>
            <p class="text-gray-700 mb-4">Note:Both password must be same</p>
            <form action="." method="post" class="space-y-4">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="{{ form.new_password1.id_for_label }}" class="block text-sm font-medium text-gray-900">New Password</label>
                
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" class="bg-white text-black border border-gray-300 p-2 rounded-md"  value="{{ form.new_password1.password }}" placeholder="New Password">
                </div>
                <div class="mb-4">
                    <label for="{{ form.new_password2.id_for_label }}" class="block text-sm font-medium text-gray-900">Confirm New Password</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="bg-white text-black border border-gray-300 p-2 rounded-md"  value="{{ form.new_password2.password}}" placeholder="Retype New Password">
                </div>
                
                <!-- Improved button styling -->
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-lg py-2 focus:outline-none focus:ring focus:border-black">
                    Change my password
                </button>
            </form>
            
        {% else %}
            <p class="text-red-500 mb-4">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
