{% extends 'core/base.html' %}

{% block title %} Reset Password {% endblock %}

{% block content %}

<section class="min-h-screen flex items-center justify-center bg-gradient-to-r from-yellow-100 to-indigo-100">
    <div class="w-full bg-white rounded-lg shadow-md max-w-md p-6 space-y-6 md:space-y-6 ">
        <h1 class="text-xl font-bold leading-tight text-gray-900 md:text-3xl">
            Forgot your password?
        </h1>
        <form class="space-y-6 md:space-y-6" method="post">
            {% csrf_token %} 
            <div class="mb-4">
                <label for="{{ form.email.id_for_label }}" class="block mb-2 text-m font-medium text-gray-900">
                    Don't worry! Just type in your email and we will send you a code to reset your password!
                </label>
                
                <div class="email">
                    <input type="email" name="email" autocomplete="email" required="" id="id_email" class="bg-white text-black border border-gray-300 p-2 rounded-md" value="{{ form.id_email.email }}" placeholder="Enter your email">
                </div>
                
            </div>
            <div class="mb-4">
                <label class="flex items-center">
                    <input type="checkbox" class="text-blue-500 focus:ring-0 border-gray-300">
                    <span class="ml-2 text-gray-700 text-sm">I agree to the <a href="{%url 'core:terms'%}" class="underline">Terms and Conditions</a></span>
                </label>
            </div>
            <button type="submit" class="w-full bg-blue-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 text-white font-medium rounded-lg text-sm px-5 py-2.5">
                Reset Password
            </button>

            
        </form>
    </div>
</section>

{% endblock %}
